:root {
    --cyan: rgb(42, 178, 175);
    --yellow: rgb(192, 223, 52);
    --light-gray: rgb(229, 239, 245);
    --blue-gray: rgb(152, 166, 189);
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--light-gray);
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}



#container {
    width: 700px; /* 1440 Desktop - 375 Mobile */
    height: 500px;
    margin: auto;
    /* margin-top: calc(100vh - 600px); */
    margin-top: 50px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
}

#top-join-section {
    width: 100%;
    height: 45%;
    padding: 40px;
    background-color: white;
}

#top-join-section h2 {
    color: var(--cyan);
    margin-bottom: 25px;
}

#top-join-section h3 {
    color: var(--yellow);
    margin-bottom: 15px;
}

#top-join-section p {
    color: var(--blue-gray);
    line-height: 30px;
}



#bottom-section {
    width: 100%;
    height: 55%;
    color: var(--light-gray);
}

#subscription-blurb {
    background-color: var(--cyan);
}

#why-us {
    background-color: rgba(42, 178, 175, 0.8);
}

#subscription-blurb, #why-us {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
    padding: 40px;
}



#price-container {
    width: 100%;
    height: 50px;
    margin-top: 25px;
}

#price-container span {
    display: inline-block;
    font-weight: 700;
    font-size: 2rem;
    vertical-align: baseline;
}

#price-container #month-container {
    display: inline-block;
    position: relative;
    top: -5px;
    left: 10px;
    opacity: 0.5;
}

button {
    color: var(--light-gray);
    background-color: var(--yellow);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
    margin-top: 30px;
}

button:hover { 
    cursor: pointer;
    background-color: #A9C42D;
    transform: scale(1.05);
    transition-duration: 500ms;
}

#why-us ul {
    list-style-type: none;
    padding: 0;
    line-height: 24px;
}



@media (max-width: 768px) {

    #container {
        width: 375px;
        height: 100%;
        margin-bottom: 50px;
    }

    #subscription-blurb, #why-us {
        display: block;
        width: 100%;
    }

    #why-us {
        padding-bottom: 10px;
    } 
}

