:root {
    /* primary */
    --moderate-violet: rgb(117, 65, 200);
    --dark-grayish-blue: rgb(72, 85, 106);
    --dark-blackish-blue: rgb(25, 33, 46);
    --white: rgb(255, 255, 255);

    /* neutral */
    --light-gray: rgb(207, 207, 207);
    --light-grayish-blue: rgb(236, 242, 248);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-color: var(--light-grayish-blue);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 
- Mobile: 375px
- Desktop: 1440px
*/

/* Testimonials */
section:nth-child(1) {
    position: relative;
    background-color: var(--moderate-violet);
    grid-area: purple-rectangle;
    z-index: 0;
}

section:nth-child(2) {
    background-color: var(--dark-grayish-blue);
    grid-area: gray-square;
}

section:nth-child(3) {
    grid-area: white-square;
}

section:nth-child(4) {
    background-color: var(--dark-blackish-blue);
    grid-area: blue-rectangle;
}

.light-section {
    background-color: #fff;
    box-shadow: 5px 6px 25px -1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 5px 6px 25px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 6px 25px -1px rgba(0,0,0,0.2);
}

/* General Styling */
main {
    padding: 5% 4%;
}

section, aside {
    margin-bottom: 2em;
    padding: 2em 2.5em;
    border-radius: 10px;
}

aside {
    min-width: 25%;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 1.1em;
}

header img {
    border-radius: 50%;
    margin-right: 1em;
    max-width: 2.3em;
}

h3 {
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 1.566rem;
}

p {
    font-size: 1rem;
}

/* Individual Styling */
#quote {
    position: absolute;
    right: 5%;
    top: 0;
    z-index: -1;
}

section:nth-child(1) header img {
    border: rgb(167, 117, 241) solid 2px;
}

section:nth-child(4) img {
    border: var(--moderate-violet) solid 2px;
}

.dark-section h1 {
    color: var(--white);
}

.dark-section h2 {
    color: rgba(255,255,255,0.5);
}

.dark-section h3 {
    color: var(--white);
}

.dark-section p {
    color:rgba(255, 255, 255, 0.7)
}

.light-section h1 {
    color: var(--dark-blackish-blue);
}

.light-section h2 {
    color: rgba(25, 33, 46, 0.5);
}

.light-section h3 {
    color: var(--dark-grayish-blue);
}

.light-section p {
    color: rgba(72, 85, 106, 0.7);
}


/* Desktop view - at least 375px */
@media (min-width: 768px) {
    main {
        display: flex;
    }

    main .main-left {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "purple-rectangle purple-rectangle gray-square"
        "white-square     blue-rectangle   blue-rectangle";
    }

    section:nth-child(2), section:nth-child(4), aside {
        margin-left: 2em;
    }

    aside {
        width: 100%;
    }

}
